#outer {
    layout: horizontal;
    align: center middle;
}

#form {
    width: 60;
    height: auto;
    border: round white;
    layout: horizontal;
    align: center middle;
}

#title{
    align: center middle;
}